body {
  background: black;
  background: url(stars.png);
  background-size: 100vw;
  color: #ffd23e;
  font-family: arial;
  font-size: 6.666vw;
  margin: 0;
  perspective: 50vh;
  height: 100vh;
}

article {
  width: 15em;
  text-align: justify;
  position: fixed;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotate3d(1, 0, 0, 45deg);
}

header {
  text-align: center;
}

strong {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
}

