body {
  background: black;
  background: url(stars.png);
  background-size: 100vw;
  color: #ffd23e;
  font-family: arial;
  font-size: 6.666vw;
  margin: 0;
  perspective: 50vh;
  height: 100vh;
}

article {
  width: 15em;
  text-align: justify;
  position: fixed;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotate3d(1, 0, 0, 45deg) translateY(100%);
  animation: crawler 7s linear infinite forwards 6s;
}

header {
  text-align: center;
}

strong {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
}

@keyframes crawler {
  0% {
    transform: rotateX(45deg) translateY(100%);
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    transform: rotateX(45deg) translateY(-50%);
    opacity: 0;
  }
}

aside {
  position: absolute;
  opacity: 0;
  color: rgb(75,213,238);
  font-size: 4vw;
  margin: 40vh 20vw;
  animation: alongtimeago 6s linear;
}

@keyframes alongtimeago {
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
